footer[role=contentinfo]{
  background:$brown;
	margin:20px 0 0 0;
  padding:10px;

  a.logo{
    display:block;
    text-align:center;

    img{
      max-width:60%;
    }
  }

  div.nav{
    background:$brown_medium;
    border-radius:5px;
    color:$white;
    margin:20px 0 0 0;
    padding:10px;
    text-align:center;

    ul{
      list-style:none;
      margin:0;
      padding:0;

      li{
        font-size:1.6em;
        padding:2px 0;
      }
    }

    a{
      color:$white;
    }

    h2{
      margin-top:20px;

      &:first-of-type{
        margin-top:0;
      }
    }
  }

  p{
    color:$white;
    font-size:1.4em;
    text-align:center;

    a{
      color:$white;
      text-decoration:underline;
    }
  }

}

@media only screen and (min-width: 600px) {
  footer[role=contentinfo]{

  }
}
