header[role=banner]{
  height:$hero_height_header;
  position:static;
  z-index:10;

  @include clearfix;

  .content{
    background:$white_rgba;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
    padding:0 20px;
    position:relative;
    z-index:2;

    @include clearfix;
  }

	.logo{
		display:inline-block;
    float:left;
		height:70px;
    padding:10px 0;

    img{
      height:100%;
      max-height:100%;
    }
	}

  a.navbar-toggle{
    float:right;
    font-size:3em;
    line-height:70px;
  }

  .background{
    height:$hero_height;
    left:0;
    position:absolute;
    top:70px;
    width:100%;
    z-index:1;

    div{
      background-position:center center;
      background-repeat:no-repeat;
      background-size:cover;
      height:100%;
      width:100%;
    }

  }
}



@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  #home header[role=banner]{
    height:$hero_height_1;
  }

  header[role=banner]{

    a.navbar-toggle{
      display:none;
    }

    .background{
      height:$hero_height_1;
      top:0;
    }
  }
}

@media only screen and (min-width: 1024px) {
  #home header[role=banner]{
    height:$hero_height_2;
  }

  header[role=banner]{

    .logo{
      height:95px;
    }

    .background{
      height:$hero_height_2;
    }
  }
}
