#hero{
  position:relative;
  width:100%;
  z-index:1;

  .slide{
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
    position:relative;
    width:100%;

    .wrapper{
      height:100%;
      width:100%;
    }

    a{
      display:block;
      height:100%;
      width:100%;
    }

    .hero-text{
      bottom:20px;
      position:absolute;
      right:20px;

      span{
        background:$red_rgba;
        clear:both;
        color:$white;
        display:inline-block;
        float:right;
        font-family:$slab_font_family;
        font-size:2.6em;
        line-height:35px;
        padding:0 5px;
      }

      &:hover{
        span{
          background:saturate($red_rgba, 20%);
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) {
  #hero{
    margin-top:-70px;

    .slide{

      .hero-text{
        bottom:60px;
        right:60px;

        span{
          font-size:3em;
          line-height:45px;
          padding:0 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #hero{
    margin-top:-95px;

    .slide{

      .wrapper{
        height:100%;
        width:1000px;
      }

      .hero-text{
        bottom:100px;
        right:0;

        span{
          font-size:4em;
          line-height:60px;
          padding:0 20px;
        }
      }
    }
  }
}
