section[role=main]{
	margin:20px;

	@include clearfix;

  &.page{
    margin:20px 20px 0 20px;
  }

  &.home{
    .content-half{
      margin:20px 0;
    }
  }

  .main-background{
    background:$gold;

    @include clearfix;
  }


  .content-full, .content-left, .content-right, .content-half, .content-split, .content-split-sm, .sidebar{
    width:100%;
    @include clearfix;

    img{
      max-width:100%;
    }

    &.breadcrumb{
      background:$brown;
      border-radius:5px 5px 0 0;
      color:$gold;
      margin:0;
      padding:10px 20px;

      a{
        color:lighten($brown, 10%);

        &:hover{
          color:$red;
        }
      }
    }
  }

  .content-left{
    background:$white;
    padding:10px;
  }

  .content-right{
    padding:10px;
  }

  .breadcrumb-trail{
    line-height:25px;
  }

  .social{
    list-style:none;
    margin:10px 0 0 0;
    padding:0;

    li{
      display:inline-block;
      font-weight:bold;
      line-height:25px;
      margin:0 15px 0 0;
      text-transform:uppercase;
    }
  }

  .sidebar{
    h5{
      margin-bottom:0;

      i, em{
        width:30px;
      }
    }

    p{
      margin-top:0;

      &.indent{
        margin-left:30px;
      }
    }

    ul.hours{
      font-size:0.8em;
      list-style:none;
      margin:0 0 0 30px;
      padding:0;

      strong, b{
        font-size:1.2em;
        text-transform:uppercase;
      }
    }

    .giving-back-logo{
      border:5px solid $red;
      border-radius:2px;
      display:inline-block;
      width:60%;

      img{
        max-width:100%;
      }
    }
  }

}



@media only screen and (min-width: 600px) {
  section[role=main]{
    .content-left{
    	float:left;
    	width:60%;
    }
    .content-right{
      float:right;
      width:40%;
    }
    .content-half{
      float:left;
      width:45%;

      &.right{
        float:right;
      }
    }

    .content-split{
      float:right;
      width:55%;
    }

    .content-split-sm{
      float:left;
      width:35%;
    }

    .breadcrumb-trail{
      float:left;
      line-height:35px;
    }
    .social{
      float:right;
      font-size:1.4em;
      margin:0;

      li{
        line-height:35px;
      }
    }

    &.page{
      display:table;

      .content-left{
        display:table-cell;
        float:none;
        width:60%;
      }
      .content-right{
        display:table-cell;
        float:none;
        width:40%;
      }
    }
  }
}

img.drink{
  width:20px;
  margin:0 5px;
}

@media only screen and (min-width: 800px) {
  section[role=main]{
    .content-left{
      padding:20px;
    	width:65%;
    }
    .content-right{
      padding:20px;
      width:35%;
    }

    .content-split{
      float:right;
      width:60%;
    }

    .content-split-sm{
      float:left;
      width:30%;
    }
  }
}


@media only screen and (min-width: 1024px) {
  section[role=main]{
    margin:0 auto;

    &.page{
      margin:0 auto;
    }

    &.home{
      margin:40px auto 20px auto;
    }
  }
}
