header[role=banner]{
	nav{
		clear:both;
		display:none;
		font-family:$slab_font_family;
		padding:30px 0 10px 0;
		position:relative;
		z-index:2;

		@include transition (height 1.0s ease);

		&.active{
			display:block;
		}

		ul{
			li{
				a{
					border-top:1px solid $brown_light;
					color:$brown_medium;
					display:block;
					font-size:1.8em;
					padding:10px 20px;

					&:hover{
						background:$brown_light;
					}
					&.current, &.currentParent{
						background:$red;
						border-color:$red;
						color:$white;
					}

					i.marker{
						float:right;
					}
				}

				ul{
					display:none;

					li{
						a{
							i{
								float:none;
								padding:0 5px 0 0;
							}
						}
					}
				}

				&.active{
					a{
						background:$brown_light;
						border-top:1px solid $white;
					}
					ul{
						display:block;

						a:hover{
							background:$white;
						}
					}
				}
			}
		}

		.fancy-nav{
			display:none;
		}
	}
}

@media only screen and (min-width: 768px) {
	header[role=banner]{
		nav{
			clear:none;
			display:block;
			float:right;
			padding:0;

			ul{
				li{
					display:inline-block;

					a{
						background:none;
						border:0 none;
						border-bottom:5px solid transparent;
						font-size:1.6em;
						line-height:25px;
						padding:20px 15px;

						&:hover{
							background:none;
							border-color:$red;
							color:$red;
						}

						&.social{
							padding:20px 10px;
						}

						&.current, &.currentParent{
							background:none;
							border-color:$gold;
							color:$gold;
						}

						i.marker{
							display:none;
						}
					}

					&.active{
						a{
							background:none;
							border-color:$red;
							border-top:0 none;
							color:$red;

							&.current, &.currentParent{
								border-color:$gold;
								color:$gold;
							}
						}

						ul{
							display:none;
						}
					}
				}
			}

			.fancy-nav{
				background:$brown_light;
				position:absolute;
				right:0;
				top:70px;
				width:580px;

				&.active{
					display:block;
				}

				ul{
					li{
						display:block;

						a{
							border-bottom:1px solid $white;
							line-height:1;

							&:hover{
								background:$white;
							}
						}

						i{
							display:none;
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	header[role=banner]{
		nav{

		}
	}
}

@media only screen and (min-width: 1024px) {
	header[role=banner]{
		nav{
			ul{
				li{
					a{
						line-height:50px;
					}
				}
			}
			.fancy-nav{
				top:95px;
			}
		}
	}
}
