header[role=banner]{
	nav{
		clear:both;
		display:none;
		padding:20px 0 0 0;
		position:relative;
		z-index:2;

		@include transition (height 1.0s ease);

		&.active{
			display:block;
		}

		ul{
			li{
				a{
					border-top:1px solid $brown_light;
					color:$brown;
					display:block;
					font-size:1.8em;
					padding:10px 20px;

					&:hover{
						background:$brown_light;
					}
					&.current, &.currentParent{
						background:$red;
						border-color:$red;
						color:$white;
					}

					i{
						float:right;
					}

					.triangle{
						bottom:-11px;
						display:none;
						left:50%;
						margin-left:-10px;
						padding:0;
						position:absolute;

						@include triangle(20px, $red, up);
					}
				}

				ul{
					display:none;

					li{
						a{
							i{
								float:none;
								padding:0 5px 0 0;
							}
						}
					}
				}

				&.active{
					a{
						background:$brown_light;
						border-top:1px solid $white;
					}
					ul{
						display:block;

						a:hover{
							background:$white;
						}
					}
				}
			}
		}

		.fancy-nav{
			display:none;
		}
	}
}

@media only screen and (min-width: 768px) {
	header[role=banner]{
		nav{
			clear:none;
			display:block;
			float:right;
			padding:0;

			ul{
				li{
					display:inline-block;

					a{
						border:0 none;
						border-radius:5px;
						font-size:1.4em;
						line-height:30px;

						&:hover{
							border:0 none;
						}

						i{
							display:none;
						}
					}

					&.active{
						a{
							border:0 none;
						}

						.triangle{
							display:block;
						}

						ul{
							display:none;
						}
					}
				}
			}

			.fancy-nav{
				background:$red;
				position:absolute;
				right:0;
				top:61px;
				width:450px;

				&.active{
					display:block;
				}

				ul{
					li{
						display:block;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 900px) {
	header[role=banner]{
		nav{

		}
	}
}

@media only screen and (min-width: 1024px) {
	header[role=banner]{
		nav{

			.fancy-nav{
				top:86px;
			}
		}
	}
}
