/*
	built with SASS
*/

@import 'reset';
@import 'font-awesome/font-awesome';
@import 'bourbon/bourbon';

$brown:#4a3125;
$brown_medium:#6e5a51;
$brown_light:tint($brown, 80%);
$red:#893f20;
$gold:#b3ab6a;

$white:#f1f1f1;
$white_rgba:rgba(255, 255, 255, 0.9);

$default_font_family: "proxima-nova",sans-serif;
$slab_font_family: "museo-slab",serif;


@mixin body_background {
	background:$white url(../images/bkgrd.jpg) repeat 0 0;
}


@import 'helper';

@import 'base';
@import 'defaults';
@import 'no-js';

@import 'header';
@import 'navigation';
@import 'footer';

@import 'home';
@import 'interior';

@import 'print';
